

MEMORY
{
    FLASH(rx) : ORIGIN = 0x10000000, LENGTH = "${RP2040_Linker_Flash_Size}"
    RAM(rwx) : ORIGIN =  "${RP2040_Linker_SRAM_Origin}", LENGTH = 256k
    SCRATCH_X(rwx) : ORIGIN = 0x20040000, LENGTH = 4k
    SCRATCH_Y(rwx) : ORIGIN = 0x20041000, LENGTH = 4k
}